{% extends 'base.html' %}

{% block title %}Decision Making App{% endblock %}

{% block content %}


      <div
      class="bg-image p-5 text-center text-white"
      style="background-image: url('https://thetartan-assets.s3.amazonaws.com/uploads/38216/small/Movie-Photography-Cinema-Equipment-Camera-Film-2205325.jpg');
      height: 30vh; opacity: 0.8; background-attachment: fixed; background-position: center center; background-size: cover;">
      <h1 class="mb-3 h2">Decision App</h1>
          <p>Need help choosing a film to watch?</p>
          <a href="/movie_result">
              <button type="button" class="btn btn-secondary">Click to get a film!</button>
          </a>

    </div>
{% endblock %}
